<!DOCTYPE html>
<html>
	<title>02_props_boolean</title>
	<head>
		
	</head>
	<body>
		<style type="text/css"></style>
		<div id="app">
			<h3>boolean 静态传递</h3>
			<blog-post v-for="blog in blogs" v-bind:key="blog.id" published="10==10"></blog-post>
			<h3>boolean v-bind静态传递</h3>
			<blog-post v-for="blog in blogs" v-bind:key="blog.id" v-bind:published="10==10"></blog-post>
			<h3>boolean 动态传递</h3>
			<blog-post v-for="blog in blogs" v-bind:key="blog.id" v-bind:published="blog.is_published"></blog-post>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
		<script type="text/javascript">
			Vue.component('blog-post', {
				props: ['published'],
				template: `
				<div>boolean: {{published}}</div>
				`
			})
			let vm = new Vue({
				el: "#app",
				data: function(){
					return {
						blogs: [{
							id: 1,
							title: "title1",
							content: "content1",
							is_published: true,
							publish_at: "2021-01-29 11:01",
						}, {
							id: 2,
							title: "title2",
							content: "content2",
							is_published: true,
							publish_at: "2021-01-29 11:02"
						},{
							id: 3,
							title: "title3",
							content: "content3",
							is_published: false,
							publish_at: "2021-01-29 11:03"
						}]
					}
				}
			})
		</script>
	</body>
</html>